html {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./bg.jpg');
    background-size: 45%;
    min-height: 100vh;
    text-align: center;
}
main,
header,
section {
    display: block;
}
main.kontener {
    position: relative;
    width: 560px;
    height: auto;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    margin: auto;
    z-index: 1
}

.litera, #B_Haslo, #L_Haslo {
    background-color: #000000;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    min-height: 60px;
    min-width: 65px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    margin: 5px;
}


.litera:disabled, #B_Haslo:disabled, #L_Haslo:disabled {
    pointer-events: none;
}
  
.litera:hover, #B_Haslo:hover, #L_Haslo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.litera:active, #B_Haslo:active, #L_Haslo:active  {
    box-shadow: none;
    transform: translateY(0);
}
  

.przyciski_haslo {
    position: absolute;
    left: 0; 
    right: 0; 
    text-align: center;
}

#I_Haslo {
    width: 400px;
    height: 25px;
    font-size: 2em;
    text-align: center;
}

#P_Haslo {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#litery_haslo {
    font-size: 2.5em;
    font-weight: bold;
}

#Div_Haslo {
    position: absolute; 
    left: 0; 
    right: 0; 
}
#Div_Okno_Gry {
    position: absolute;
    left: 0; 
    right: 0; 
    display: inline-block;

}
#Div_Okno_Gry img {
    position: absolute;
    top: 50px;
    left: -600px;
    width: 420px;
    height: 420px;
    border: 0
}

#P_Tytul {
    font-size: 6.5em;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    color: black;
}
#litery_haslo {
    letter-spacing: 10px;
}

